body {
    background: url('./img/bg.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.container {
    text-align: center;
    background-color: #efefef;
    width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
}

.todobtn {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add {
    border-radius: 5px;
    cursor: pointer;
    background-color: #80669d;
    color: #efefef;
    opacity: .8;
    box-shadow: rgba(0,0,0.1);
    transition: .3s ease;
    padding: 5px;
}

.add:hover {
    opacity: 1;
}

.filter {
    border-radius: 5px;
    padding: 5px;
    height: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(218, 218, 218);
    margin: 20px;
    border-radius: 10px;
}

.itemtext {
    text-align: left;
    width: 200px;
}

.completeditem {
    text-align: left;
    width: 200px;
    text-decoration: line-through;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.completar {
    border-radius: 5px;
    background-color: #33b249;
    padding: 5px;
    opacity: .8;
    transition: .3s ease;
    width: 80px;
}

.completar:hover{
    opacity: 1;
}

.deletar {
    border-radius: 5px;
    background-color:  #ed0800dd;
    padding: 5px;
    opacity: .8;
    transition: .3s ease;
}

.deletar:hover{
    opacity: 1;
}

.todocat {
    padding: 5px;
    border-radius: 5px;
}

.nametodo {
    padding: 5px;
    border-radius: 5px;
}